# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Fichier Tests
test/asyncio-tests/Client/FileTest.py
test/asyncio-tests/Serveur/FileTest.py
test/asyncio-tests/Simulation_BD
test/asyncio-tests/c.py
test/asyncio-tests/s.py
test/asyncio-tests/test.py