@font-face {
    font-family: 'Arista2.0-RegularTrial.ttf';
    src: url('Arista2.0-RegularTrial.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular-webfont.ttf';
    src: url('OpenSans-Regular-webfont.ttf');
}

body
{
	margin: 0;
	overflow-x: hidden;
    font-family: 'OpenSans-Regular-webfont.ttf', Arial;
}

#hdp
{
	position: absolute;
	top: 0;
	margin: 0;
}

.hdp:hover
{
	opacity: 1;
}

.hdp
{
	position: fixed;
	bottom: 5%;
	right: 2.5%;
	width: 5%;
	opacity: 0.5;
	z-index: 1;
}

#banner
{
	position: fixed;
	width: 100%;
	top: 0;
	display: block;
	z-index: 1;
	margin-bottom: 14%;
}

#banner1
{
	display: block;
	background-color: rgb(62,255,62);	
	height: 20px;
	width: 100%;
	margin: 0;
}

#header
{
	background-color: rgb(0,135,0);
	height: 100px;
	width: 100%;
	margin: 0;
	display: block;
}

h1
{
	float: left;
	color: rgb(100,255,100);
	font-size: 450%;
	display: inline-block;
	position: relative;
	top: 2px;
	left: 5%;
	margin: 0;
	font-family: 'OpenSans-Regular-webfont.ttf', Arial;
}

nav
{
	float: left;
	position: absolute;
	right:12%;
}

nav ul
{
	float: left;
	padding-top: 9px;
	width: 100%;
}

nav ul li
{
	float: left;
	margin-left: 70px;
	list-style-type: none;
}

nav ul li a
{
	padding-top: 15px;
	display: inline-block;
	height: 35px;
	width: 120px;
	text-decoration: none;
	text-align: center;
	color: rgb(0,100,0);
	background-color: rgb(100,255,100);
	font-size: 125%;
	font-weight: bold;
    font-family: 'OpenSans-Regular-webfont.ttf', Arial;
}

nav ul li a:hover
{
	background-color: rgb(0,100,0);
	color: rgb(100,255,100);
}

#banner2
{
	display: block;
	background-color: rgb(62,255,62);	
	height: 20px;
	width: 100%;
	margin: 0;
}

section
{
	display: block;
	width: 87%;
	position: relative;
	left: 5%;
	right: 8%;
	margin-bottom: 3%;
	text-align: justify;
}

h2
{
	width: 80%;
	position: relative;
	left: 10%;
	font-size: 220%;
}

h3
{
	position: relative;
	left: 7%;
	font-size: 140%;
	border-bottom: black 2px solid;
	height: 31px;
	display: inline;
}

#problematique
{
    font-family: 'OpenSans-Regular-webfont.ttf', Arial;
	font-size: 1em;
}
.imagesaccueil1
{
	width: 30%;
	float: right;
}

.imagesaccueil
{
	width: 32%;
	position: relative;
	left: 10%;
	bottom: 35px;
}

.histoire_chifoumi
{
	width: 100%;
}

#image_legende
{
	float: left;
	width: 25%;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	margin: 0 10px 0 0px;
	padding: 5px;
	border: 1px black solid;
}

.chifoumi_regles
{
	display: block;
	margin: auto;
}

#tableaux_chifoumi img, #tableaux_chifoumi2 img
{ 
	width: 100%;
}

#tableaux_chifoumi, #tableaux_chifoumi2
{
	display: block;
	width: 50%;
	margin: auto;
}

#legende_roulette img
{
	width: 100%;
}

#legende_roulette
{	
	float: right;
	width: 15%;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	margin: 0 0 0 10px;
	padding: 5px;
	border: 1px black solid;
}

.roulette_regles
{
	display: block;
	margin: auto;
}

#formule1, #formule2
{
	text-align: center;
}

em
{
	font-family: French Script MT;
	font-size: 2.3em;
}

#e, #E
{
	font-family: Lucida Calligraphy;
	font-size: 1.5em;
}

.calcul1
{
	display: block;
	margin: auto;
}

.frac1
{
	width: 3.5%;
	position: relative;
	top: 16px;
	
}

.frac2
{
	width: 2.2%;
	position: relative;
	top: 16px;
}

.frac3
{
	width: 3%;
	position: relative;
	top: 16px;
}

.frac4
{
	width: 2.2%;
	position: relative;
	top:16px
}

.frac5
{
	width: 2.1%;
	position: relative;
	top:16px
}

.frac6
{
	width: 2%;
	position: relative;
	top:16px
}

table
{
    border-collapse: collapse;
	margin: auto;
}

caption
{
	text-align: center;
	font-style: italic;
	font-size: medium;
	padding-bottom: 5px;
}

td, th
{
    border: 1px solid black;
	text-align: center;
	padding: 5px 15px;

}

.vide
{
	border: none;
}

.blue
{
	color: blue;
}

.green
{
	color: green;
}

.frac4_table
{
	width: 16%;
	position: relative;
	top: 8px
}

.frac5_table
{
	width: 16%;
	position: relative;
	top: 8px
}

.frac4_2
{
	width: 2.2%;
	position: relative;
	top: 16px
}

.frac5_2
{
	width: 2.1%;
	position: relative;
	top: 16px
}

.frac7
{
	width: 1.6%;
	position: relative;
	top: 16px
}

.presque_fini
{
	width: 2%;
	position: relative;
	top: 16px;
}

.derniere
{
	width: 1.6%;
	position: relative;
	top: 16px
}